form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

button {
  width: 100px;
}

input {
  border-radius: 10px;
  border: 1px solid;
}

button {
  border-radius: 10px;
  border: 1px solid;
  background-color: white;
}

button:hover {
  background-color: bisque;
}
